@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  background-color: #f9f4ec;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 400px;
  width: 100%;
}

.form-box h2 {
  font-family: "AtkinsBold";
}

.form-box form .form-control {
  font-size: 1em;
  padding: 10px;
  direction: rtl;
}

.btn {
  border-radius: 50px;
}

.text-center a {
  color: #162938;
  text-decoration: underline;
}

.text-center a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  header .navigation a {
    margin-top: 10px;
  }

  .wrapper {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  header .logo {
    font-size: 1.5rem;
  }

  .wrapper {
    padding: 15px;
  }

  .form-box h2 {
    font-size: 1.5em;
  }
}
.none {
  display: none;
}

 
        
.hero-section {
    height: 70vh;
    display: flex;
    align-items: center;
    
}

.hero-content {
    width: 100%;
      margin: auto;
     
    padding: 20px;
}

.hero-image {
    max-width: 50%;
    height: auto;
}


.card-title {
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .hero-content h1 {
        font-size: 3rem;
        width: 100%;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .hero-content {
        width: 50%;
    }

    .hero-section img {
        height: auto;
    }
}
 